{% extends "base.html" %}
{% block title %}ABOUT COMPANY{% endblock title %}
{% block content %}
<div class="centered-image">
    <img src="{{company_info.logo.url}}" class="company-image">
</div>

<section id="company-media">
{% load static %}
<h3>Видео</h3>
<video controls>
    <source src="{% static 'media/lionroar.mp4' %}" type="video/mp4">
    Ваш браузер не поддерживает воспроизведение видео.
</video>
<h3>Аудио</h3>
<audio controls>
    <source src="{% static 'media/audio_hero_AnimalLion+TL01_41.mp3' %}" type="audio/mp3">
    Ваш браузер не поддерживает воспроизведение аудио.
</audio>
</section>

<h2>{{ latest_article.title }}</h2>
<p>{{ company_info.zooname }}</p>
<p><a href="mailto:{{ company_info.email }}?subject=Вопрос">{{ company_info.email }}</a></p>
<p><a href="{{ company_info.phone }}">{{ company_info.phone }}</a></p>
<p>{{ company_info.text }}</p>

<section id="certificate">

<div class="certificate-container"></div>
    <h1>СЕРТИФИКАТ ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ</h1>

    <p>
        Настоящим удостоверяется, что <span class="details">ZooWorld</span>, расположенный по адресу:
        <span class="details">ул. Зоопарковая 1</span>, прошел государственную регистрацию в соответствии с
        законодательством Республики Беларусь, регулирующим деятельность зоопарков и других учреждений по содержанию и демонстрации
        животных.
    </p>

    <p>
        Данный сертификат подтверждает, что зоопарк соответствует требованиям законодательства в части содержания,
        ухода и охраны животных, соблюдает нормы ветеринарной и экологической безопасности, а также обеспечивает
        необходимые условия для образовательной и культурной деятельности, направленной на охрану и сохранение
        биоразнообразия.
    </p>

    <h2>Обязательства Зоопарка</h2>

    <p>
        <span class="details">ZooWorld</span> обязуется:
    </p>
    
    <ul>
        <li>обеспечивать соответствующие условия для жизни и здоровья животных;</li>
        <li>соблюдать стандарты по обращению с животными и их содержанию;</li>
        <li>проводить регулярные мероприятия по улучшению благосостояния животных;</li>
        <li>способствовать образованию посетителей в области охраны природы и устойчивого использования ресурсов.</li>
    </ul>

    <p>
        Настоящий сертификат выдан <span class="details">01.01.2020</span> и является действительным на срок до
        <span class="details">01.01.2030</span>, при условии соблюдения всех вышеуказанных
        требований и периодических проверок уполномоченными государственными органами.
    </p>

    <p>
        Регистрационный номер: <span class="details">Z01121</span><br>
        Выдан: <span class="details">Министерство природы и охраны окружающей среды</span>
    </p>
    <div class="seal">
        <p>Дата: <span class="details">01.01.2020</span></p>
    </div>
</div>
</section>
{% endblock content %}