{% extends "base.html" %}
{% block title %}HOME{% endblock title %}

{% block content %}
<div>
    <p>Текущая дата и время (UTC): <time datetime="{{ current_date_utc }}">{{ current_date_utc }}</time></p>
    <p>Текущая дата и время ({{ user_timezone }}):<time datetime="{{ current_date_user_tz }}"> {{ current_date_user_tz }}</time></p>
</div>
<section id="news">
    <h2 translate="yes">{{ latest_article.title }}</h2>
    <img src="{{ latest_article.image.url }}"height="400" width="550">
    <p translate="yes" title="Последняя новость!">{{ latest_article.content }}</p>
    <p translate="yes">Опубликовано: {{ latest_article.date|date:"d.m.Y" }}&nbsp;{{ latest_article.date|time:"H:i" }}</p>
    
    {% load static %}
</section>

{% if user.is_authenticated %}

<section id = "catalog">
    <h2 translate="yes">Каталог</h2>
    <a href="{% if user.is_authenticated %}{% url 'ticket_list' %}{% else %}{% url 'login' %}{% endif %}"><img src="{% static 'images/Ticket.avif' %}" alt="Картинка 1" class="ad-parms" draggable="true"></a>
</section>

{% endif %} 

<section id="Ad">
    <h2>Ad</h2>
    <div class="image-row">
        <img src="{% static 'images/adlion.jpg' %}" alt="Картинка 1" class="ad-parms" draggable="true">
        <img src="{% static 'images/adzoo.jpeg' %}" alt="Картинка 2" class="ad-parms" draggable="true">
        <img src="{% static 'images/adrhino.jpg' %}" alt="Картинка 3" class="ad-parms" draggable="true">
    </div>
</section>

<section id = "Parnters">
    <h2>Наши партнеры</h2>
    <ul class="SpecList">
        {% for partner in partners %}
            <li>
                <a href="{{ partner.website }}" target="_blank">
                    <img class="partnerlogo" src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo" style="width:100px;">
                    {{ partner.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

<pre hidden>
<code>
def home(request):
    <var>user_timezone</var> = get_localzone()
    <var>current_date_utc</var> = timezone.now()
    <var>current_date_user_tz</var> = current_date_utc.astimezone(user_timezone)
    <var>latest_article</var> = Article.objects.latest('date')
    <var>user_id</var> = request.user.id
    <var>is_staff</var> = request.user.is_staff 
    <var>is_super</var> = request.user.is_superuser
    partners = Partner.objects.all()  # Получаем всех партнеров из базы данных
    context = {
        'current_date_utc': current_date_utc.strftime('%d/%m/%Y %H:%M:%S'),
        'current_date_user_tz': current_date_user_tz.strftime('%d/%m/%Y %H:%M:%S'),
        'user_timezone': user_timezone.key,
        'latest_article': latest_article, 
        'user_id': user_id, 
        'is_staff': is_staff, 
        'is_super': is_super,
        'partners': partners    
        }
    return render(request, 'home.html', context)
</code>
</pre>
{% endblock content %}
