{% extends "base.html" %}
{% block title %}HOME{% endblock title %}

{% block content %}
<div>
    <p>Текущая дата и время (UTC): <time datetime="{{ current_date_utc }}">{{ current_date_utc }}</time></p>
    <p>Текущая дата и время ({{ user_timezone }}):<time datetime="{{ current_date_user_tz }}"> {{ current_date_user_tz }}</time></p>
</div>
<section id="news">
    <h2 translate="yes">{{ latest_article.title }}</h2>
    <img src="{{ latest_article.image.url }}"height="400" width="550">
    <p translate="yes" title="Последняя новость!">{{ latest_article.content }}</p>
    <p translate="yes">Опубликовано: {{ latest_article.date|date:"d.m.Y" }}&nbsp;{{ latest_article.date|time:"H:i" }}</p>
    
    {% load static %}
</section>

<section id = "catalog">
    <h2 translate="yes">Каталог</h2>
    <a href="{% if user.is_authenticated %}{% url 'ticket_list' %}{% else %}{% url 'login' %}{% endif %}"><img src="{% static 'images/Ticket.avif' %}" alt="Картинка 1" class="ad-parms" draggable="true"></a>
</section>

<section id="Ad">
    <h2>Ad</h2>
    <div class="image-row">
        <img src="{% static 'images/adlion.jpg' %}" alt="Картинка 1" class="ad-parms" draggable="true">
        <img src="{% static 'images/adzoo.jpeg' %}" alt="Картинка 2" class="ad-parms" draggable="true">
        <img src="{% static 'images/adrhino.jpg' %}" alt="Картинка 3" class="ad-parms" draggable="true">
    </div>
</section>

<section id = "Parnters">
    <h2>Наши партнеры</h2>
    <ul class="SpecList">
        {% for partner in partners %}
            <li>
                <a href="{{ partner.website }}" target="_blank">
                    <img class="partnerlogo" src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo" style="width:100px;">
                    {{ partner.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock content %}
