
{% extends "base.html" %}
{% block title %}HTML{% endblock title %}
{% block content %}

<header>
    <h1>Добро пожаловать в наш Зоопарк!</h1>
</header>

<!-- Горизонтальная навигация -->

<section id="about">
    <h2>Определения</h2>
    <dl>
        <dt>Тигр</dt>
        <dd>Большая кошка с полосами</dd>
        <dt>Лев</dt>
        <dd>Король зверей</dd>
    </dl>

    <h2>Цитаты</h2>
    <blockquote>
        "Земля не принадлежит человеку, человек принадлежит Земле." – Человек природы
    </blockquote>

    <h2>Четверостишие</h2>
    <p>Мы в зоопарке, здесь веселье,<br>Тигры играют в лучах солнца.<br>Слышны львы вдалеке, кричат с восторгом,<br>Природа зовет, приходи скорее!</p>
</section>

<nav class="unstyled">
    <ul class="unstyled">
        <li>Элемент 1 </li>
        <li>Элемент 2 </li>
    </ul>
</nav>

<section id="animals">
    <h2>Ссылки</h2>
    <p>Узнать больше о наших <a href="animals" target="_blank">животных</a>.</p>
    <p>Скачать <a href="zoo-brochure.pdf" download>брошюру зоопарка</a>.</p>

    <h2>Якоря</h2>
    <a href="#table-example">Перейти к таблице с данными</a>
</section>

<section id="list-example">
    <h2>Списки</h2>
    <ul>
        <li>Тигр</li>
        <li>Лев</li>
        <li>Слон</li>
    </ul>
    <ol>
        <li>Пойти в зоопарк</li>
        <li>Посмотреть на тигра</li>
        <li>Увидеть льва</li>
    </ol>
</section>

<section id="form-example">
    <h2>Форма</h2>
    <form id="contactForm">
        <div class="container">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" tabindex="1" required><br><br>

            <label for="email">Эл. почта:</label>
            <input type="email" id="email" name="email" tabindex="3" required><br><br>

            <label for="visit-date">Дата визита:</label>
            <input type="date" id="visit-date" name="visit-date" tabindex="2" required><br><br>

            <label for="animal-select">Какое животное хотите увидеть?</label>
            <select id="animal-select" name="animal">
                <option selected value="tiger">Тигр</option>
                <option value="lion">Лев</option>
                <option value="elephant">Слон</option>
            </select><br><br>

            <input type="submit" value="Отправить">
            <p class="validation-message" id="validationMessage"></p>
        </div>
    </form>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.5922939188627!2d27.634803449130104!3d53.850115048763556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd32ed7f7e83b%3A0xa365e36f8614427b!2sZoopark!5e0!3m2!1sen!2sby!4v1728645091719!5m2!1sen!2sby"
    width="600"
    height="450"
    allowfullscreen=""
    loading="lazy">
</iframe>

<form>
    <input type="text" value="" placeholder="Введите текст"><br>
    <input type="password" value="" placeholder="Введите пароль"><br>
    <input type="email" value="" placeholder="example@example.com"><br>
    <input type="url" value="" placeholder="https://example.com"><br>
    <input type="tel" value="" placeholder="+1234567890"><br>
    <input type="number" value="" min="0" max="100" placeholder="Введите число"><br>
    <input type="range" value="50" min="0" max="100"><br>
    <input type="date" value=""><br>
    <input type="time" value=""><br>
    <input type="datetime-local" value=""><br>
    <input type="month" value=""><br>
    <input type="week" value=""><br>
    <input type="color" value="#000000"><br>
    <input type="checkbox" checked> Согласен с условиями<br>
    <input type="radio" name="gender" value="male"> Мужской<br>
    <input type="radio" name="gender" value="female"> Женской<br>
    <input type="file"><br>
    <input type="submit" value="Отправить"><br>
    <input type="reset" value="Сбросить"><br>
    <input type="button" value="Кнопка" onclick="alert('Кнопка нажата!')"><br>
    <input type="image" src="submit.png" alt="Отправить"><br>
    <input type="hidden" name="user_id" value="">
</form>

{% endblock content %}

