<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Orders</title>
</head>

<div class="navbar">    
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'animals' %}">Животные</a>
    <a href="{% url 'news' %}">Новости</a>
    <a href="{% url 'about' %}">Прo нас</a>
    <a href="{% url 'faqs' %}">FAQ</a> 
    <a href="{% url 'promocodes' %}">Промокоды</a>
    <a href="{% url 'vacancies' %}">Вакансии</a>
    <a href="{% url 'reviews' %}">Отзывы</a>
    <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
    <a href="{% url 'contacts' %}">Контакты</a>
    {% if user.is_authenticated %}
        {% if is_super %}
            <a href="{% url 'logout' %}">Выйти</a>
            <a href="{% url 'sales' %}">Продажи</a>
        {% elif user.is_staff %}
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'logout' %}">Выйти</a>
            <a href="{% url 'orders_list' user.id  %}">Мои заказы</a>
            <a href="{% url 'create_order' user.id %}">Купить билет</a>
        {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Войти</a>
    <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</div>
<body>
    <a href="{% url 'home' %}">Главная</a>

    <h1>Заказ #{{order.id}}</h1>
    <table border="1">
            <p>Дата: {{ order.date_of_visit|date:"d.m.Y" }}</p> 
            <p>Стоимоть: {{ order.price}}</p>
        </tr>
    </table>

    {% if not order.is_canceled %}
        <form method="post" action="{% url 'order_cancel' pk=order.user.id jk=order.id %}">
            {% csrf_token %}
            <button type="submit">Отменить заказ</button>
        </form>
    {% else %}
        <p>Этот заказ был отменён</p>
    {% endif %}
    
</body>
</html>